/* Grid cards for holes and shot stats */
.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem; /* Tailwind p-2 */
  border-radius: 0.25rem; /* Tailwind rounded */
  border: 0.5px solid #ccd4e2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* Tailwind shadow-lg */
}

.card-title {
  font-weight: 600; /* Tailwind font-semibold */
  color: #1f2937; /* Tailwind text-gray-800 */
}

.card-divider {
  /* border: 0.5px solid #d1d5db; Tailwind border-gray-300 */
  border: 0.5px solid #d1d5db;
  width: 50%;
}

.card-data {
  font-size: 1rem; /* Tailwind text-xl */
  color: #374151; /* Tailwind text-gray-700 */
}

/* ----------- */
/* shots styles */
#shots-circles {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem; /* size of circle */
  height: 3rem;
  border-radius: 50%; /* makes it a circle */
  font-weight: 600;
  /* color: #374151; */
}

/* ------- */
/* Default styles */
/*  */
.border-default {
  border-radius: 0.25rem; /* Tailwind rounded */
  border: 0.5px solid #9ca3af;
}

.section-header {
  font-weight: 600;
  font-size: 1.5rem;
  color: #374151;
  margin-bottom: 0.25rem;
}

.text-color-1 {
  color: #374151;
}
