.svg-range {
  width: 100%;
  height: 300px;
  border: 2px solid #333;
  background: #d8d8d8;
  border-radius: 5%;
}

.shot-path {
  fill: none;
  opacity: 0.9;
  stroke-width: 2;
  stroke: red;
  /* stroke-dasharray: 4 4; dotted line */
}

/* .straight {
  stroke: rgb(122, 117, 118);
}

.fade {
  stroke: green;
}

.draw {
  
}

.push {
  stroke: teal;
}

.pull {
  stroke: blue;
}

.slice {
  stroke: purple;
}

.push-slice {
  stroke: rgb(72, 255, 0);
}

.pull-hook {
  stroke: rgb(132, 4, 21);
}

.hook {
  stroke: rgb(244, 205, 34);
} */

/* styles for shape.vue stuff */

.shot-path-buttons {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0.5rem;
}
