@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 1rem = 16px */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  background-color: #242424;
  background-color: rgb(242, 242, 242);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* h4 {
  color: #374151;
} */



/* border gray universal */
.me-border {
  border: 1px rgb(143, 143, 143) solid;
  border-radius: 5px;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  border: 1px solid transparent;
  /* border-color: #646cff; */
  cursor: pointer;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  padding: 2em;
}
/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* app round styles */


/* card styles */
.bg-color-card{
  background-color: white;
}

.card-main-border{
  border-radius: 0.25rem; /* Tailwind rounded */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* Tailwind shadow-lg */
}




/* text / font */

.color-01{
  color: rgb(63, 63, 63);
}

.color-light-grey{
  color: #6B7280;
}

.text-01 {
  color: #242424;
}

/* olor: #374151; */

/* headers */


.text-title{
  font-size: 2rem;
  font-weight: 600;
}

.text-sub-header{
  font-size: 1.5rem;
  font-weight: 600;
}


.text-normal{
  font-size: 1rem; 
}

.text-semibold{
  font-weight: 600;
}

/* one of the bg's to use for shit */

.bg-01 {
  background-color: #2563EB;
}

.bg-02{
  background-color: #991B1B;
}

.app-main-bg{
  background-color: #E5E7EB;
}

.inner-bg{
  background-color: #e5eef8;
}
