

@import "tailwindcss";

/* font face imports */

@font-face {
  font-family: "PlusJakarta";
  src: url("/src/assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400; /* normal */
  font-style: normal;
}

@font-face {
  font-family: "PlusJakarta";
  src: url("/src/assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500; /* medium */
  font-style: normal;
}

@font-face {
  font-family: "PlusJakarta";
  src: url("/src/assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600; /* semibold */
  font-style: normal;
}

@font-face {
  font-family: "PlusJakarta";
  src: url("/src/assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700; /* bold */
  font-style: normal;
}

* {
  box-sizing: border-box;
}
/* 
h1,
h2,
h3,
h4,
p {
} */

html {
  font-size: 16px; /* 1rem = 16px */
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: black;
  background-color: #242424;
  background-color: rgb(242, 242, 242);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "PlusJakarta", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* h4 {
  color: #374151;
} */

/* border gray universal */
.me-border {
  border: 1px rgb(143, 143, 143) solid;
  border-radius: 5px;
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* margin: 0; */
  font-weight: 600;
  /* border-radius: 0.125rem;  */
  /* box-shadow: 
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -2px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  /* transition: border-color 0.25s; */

  /* border-radius: 0.375rem;  */
  /* border-radius: 0.5rem; 8px */
}
button:active{
  scale: 1.05;
}

/* circle button  */
.circle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem; /* size of circle */
  height: 2.5rem;
  border-radius: 50%; /* makes it a circle */
  font-weight: 600;
  /* color: #374151; */
}


button:hover {
  /* border: 1px solid transparent; */
  /* border-color: #646cff; */
  cursor: pointer;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  padding: 2em;
}
/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* app round styles */

/* card styles */
.bg-color-card {
  background-color: white;
}

.card-main-border {
  border-radius: 0.25rem; /* Tailwind rounded */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* Tailwind shadow-lg */
}

#footer-menu {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

/* text / font */

.color-01 {
  color: rgb(63, 63, 63);
}

.color-light-grey {
  color: #6b7280;
}

.text-01 {
  color: #242424;
}

.text-main-theme {
  color: #2563eb;
}

/* olor: #374151; */

/* headers */

.text-title {
  font-size: 2rem;
  font-weight: 600;
}

.text-sub-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-normal {
  font-size: 1rem;
}

.text-semibold {
  font-weight: 600;
}

/* one of the bg's to use for shit */

.bg-01 {
  background-color: #2563eb;
}

/* .bg-light-gray{

} */


.bg-02 {
  background-color: #991b1b;
}

.app-main-bg {
  background-color: #e5e7eb;
  background-color: #ebf2f5;
}

.inner-bg {
  background-color: #e5eef8;
}


/* toggle button */
.toggle-button{
  background-color: #b4becd
}

/* light blue button with blue text */
.button-light-blue{
  background-color: #60a5fa;
  background-color: #bbdaff;
  color: #2255c4;
}


/* font face imports */
